<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <acme-navbar creation-date="UsersController.creationDate"></acme-navbar>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-shadow--2dp" style="width:100%;height: 99px !important;">
                        <div class="mdl-card__title" style="text-align: center;display: block;">
                            <form action="#/users">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?" ng-model="userStartId" id="userStartId">
                                    <label class="mdl-textfield__label" for="userStartId">Type user ID...</label>
                                    <span class="mdl-textfield__error">Input is not a positive number or 0!</span>
                                </div>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="margin-left:10px;" ng-click="UsersController.replaceUsers()">
                                    Generate list
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mdl-grid">

                <div id="usersCard" class="mdl-cell mdl-cell--2-col" ng-repeat="user in UsersController.users">
                    <div class="acme-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title" style="display: block;">
                            <b>
                                <h3 class="mdl-card__title-text" style="text-align: center;display: block;">{{ user.login | uppercase }}</h3>
                            </b>
                        </div>
                        <div class="mdl-card__media">
                            <a ng-href="#/users/{{ user.login }}">
                                <img style="width: 100%;height: 100%;" ng-src="{{ user.avatar_url }}" alt="User IMG">
                            </a>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-href="{{ user.html_url }}">
                                <i class="fa fa-github"></i> Github Site
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__right-section">
            <div class="mdl-logo">
               Created by IIJ
            </div>
        </div>
    </footer>

</div>
